body {
    font-family: sans-serif;
    background-color: lightgrey;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.left{
    text-align: left;
}

.text-big {
    font-size: 100%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
                max-width: 600px;
                margin: 0 auto;
                font-family: cursive;
                padding-left: 60px;
                padding-right: 60px;
                color: forestgreen;
            }
